/*--------------- NAVIGATION BAR -----------------*/ 
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
}

.nav-text{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #37352f;
}
.nav-profile{
    font-weight: 800;
}

.nav-links{
    display: flex;
    gap: 20px;
}
.top-nav{
    height: 30px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.top-nav-text{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #37352f;
    font-size: 14px;
    padding: 5px 0;
    font-weight: 700;
}
.nav-contact{
    border: solid 2px black;
    padding: 5px;
    border-radius: 10px;
    background-color: cadetblue;
    color: #f5f5f5;
    box-shadow: 2px 4px 5px burlywood;
}
/*--------------- Section PROFILE -----------------*/
/* SO pra aprender a fazer o background na seciton
    background-image: url('https://picsum.photos/800?grayscale');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
    /*--------------- Section PROFILE -----------------*/
.profile{
    display: flex;
    justify-content: space-evenly;
    padding: 80px 30px;
    background-color: #f5f5f5;
}
.profile-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}

.profile-name{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #37352f;
    font-size: 60px;
    font-weight: 800;
}
.profile-description{
    font-family: 'Inter', sans-serif;
    color: #37352f;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}
.text-span{
    color: rgb(133, 16, 251);
}
.profile-image{
    border-radius: 30px;
    width: 300px;
}
.profile-button{
    background-color: black;
    color: white;
    font-family:'Inter', sans-serif ;
    font-size: 15px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px cornflowerblue;
    cursor: pointer;
}
.profile-button:hover{
    background-color: cornflowerblue;
    box-shadow: 2px 4px 5px rgb(133, 16, 251);
}

/*--------------- Section SKILLS -----------------*/
.skills{
    padding: 80px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f5f5f5;
}

.skills-box{
    display: flex;
    justify-content: space-between;
}

.skill{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-name{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(133, 16, 251);
}
.skill-set{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.skill-set-text{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #37352f;
    font-weight: 300;
}

/*--------------- Section ABOUT -----------------*/
.sobre{
    display: flex;
    flex-direction: column;
    padding: 60px 30px;
    gap: 20px;
}

.sobre-personal-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.sobre-personal{
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: auto;
    align-items: center;
    align-self: center;
   
}

.sobre-personal-title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #37352f;
}
.personal-details{
    display: flex;
    gap: 40px;
}
.personal-details-2{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.personal-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.interests{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 8px 8px;
    border-radius: 10px;
    border: solid 2px black;
    justify-content: space-evenly;
    width: 60px;
}

.sobre-button{
    width: 200px;
    align-self: center;
    background-color: cadetblue;
    color: #f5f5f5;
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px burlywood;
    cursor: pointer;
}

.personal-title-text{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: cadetblue;
    font-weight: 700;
}

.personal-answer-text{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #37352f;
    font-weight: 300;
    font-weight: 700;
}

.personal-available{
    background-color: rgb(6, 122, 83);
    color: #f5f5f5;
    width: 100px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}

/*--------------- MEDIA QUERIES -----------------*/

@media (max-width: 800px) {
    .profile{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 30px 0px;
        background-color: #f5f5f5;
        align-items: center;
    }
    .profile-text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        text-align: center;
        align-items: center;
        padding-top: 50px;
    }
    
    .profile-name{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #37352f;
        font-size: 40px;
        font-weight: 800;
    }
    .profile-description{
        font-family: 'Inter', sans-serif;
        color: #37352f;
        font-size: 20px;
        font-weight: 900;
        font-style: italic;
        padding-bottom: 20px;
    }
    .profile-image{
        border-radius: 30px;
        width: 200px;
    }
/*--------------- Section ABOUT -----------------*/

.sobre{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    gap: 20px;
}

.sobre-personal-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sobre-personal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: first baseline;
    gap: 30px;
}

.sobre-personal-title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #37352f;
}
.personal-details{
    display: flex;
    gap: 20px;
}
.personal-details-2{
    display: flex;
    width: 100%;
    gap: 10px;
}

.personal-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.interests{
    gap: 5px;
}

.sobre-button{
    width: 140px;  
}
/*--------------- NAVIGATION BAR -----------------*/ 
.nav-buttons{
    display: none;
}
/*--------------- SKILLS BAR -----------------*/ 
.skills{
    padding: 80px 0px 0px 0px;
}

.skills-box{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
}